### Load in Pandas

In [47]:
import pandas as pd

### Series Data Structure

In [48]:
m = [2,4,6,8]

ser = pd.Series(m)
print(ser)

print(type(ser))

0    2
1    4
2    6
3    8
dtype: int64
<class 'pandas.core.series.Series'>

#### Custom Index

In [49]:
m = [2,4,6,8]

ser = pd.Series(m, index=['a','b','c','d'], dtype="float")
print(ser)

a    2.0
b    4.0
c    6.0
d    8.0
dtype: float64

In [50]:
dic_data = {"language":["Python", "R", "Swift"], "ranking":[1,2,3], "no_of_initials":[6,1,5]}

ser = pd.Series(dic_data)
print(ser)

language          [Python, R, Swift]
ranking                    [1, 2, 3]
no_of_initials             [6, 1, 5]
dtype: object

#### Create a Series

In [51]:
ser = pd.Series([10,11,12,13,14], index=[1,2,3,4,5])

print(ser)
print(type(ser))

1    10
2    11
3    12
4    13
5    14
dtype: int64
<class 'pandas.core.series.Series'>

#### Add two series

In [52]:
ser1 = pd.Series(13, index=[0,1,2,3,4,5,6,7,8])
ser2 = pd.Series(3, index=[0,1,2,3,4])

ser3 = ser1+ser2
print(ser3)   # NaN - Not a Number

0    16.0
1    16.0
2    16.0
3    16.0
4    16.0
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64

### DataFrame

In [53]:
m = [1,3,5,7,9]

df = pd.DataFrame(m)
print(df)

print(type(df))

   0
0  1
1  3
2  5
3  7
4  9
<class 'pandas.core.frame.DataFrame'>

In [54]:
m = {"a":[1,2,3,4], "b":[5,6,7,8],"c":[9,10,11,12]}

df = pd.DataFrame(m)
print(df)

print()

print(type(df))

print()

print(df["b"][1]) # Get values

   a  b   c
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

<class 'pandas.core.frame.DataFrame'>

6

### Arithmetic Operations

In [55]:
m = {"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]}

df1 = pd.DataFrame(m)
print(df1)

print()

df1["total"] = df1["a"] + df1["b"] + df1["c"]
print(df1)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

   a  b  c  total
0  1  4  7     12
1  2  5  8     15
2  3  6  9     18

### Other arithmetic operations

In [56]:
df1 = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})
print(df1)

print()

# Multiplication 
print("Multiplication : ")
df1["total"] = df1["a"] * df1["b"] * df1["c"]
print(df1) 

print()

# Subtraction 
print("Subtraction : ")
df2 = df1["total"] = df1["a"] - df1["b"] - df1["c"]
print(df2) 

print()

# Division 
print("Division : ")
df3 = df1["total"] = df1["a"] / df1["b"] / df1["c"]
print(df3)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

Multiplication :
   a  b  c  total
0  1  4  7     28
1  2  5  8     80
2  3  6  9    162

Subtraction :
0   -10
1   -11
2   -12
dtype: int64

Division :
0    0.035714
1    0.050000
2    0.055556
dtype: float64

### Insert Data

In [57]:
var = pd.DataFrame({"A":[1,2,3], "B":[4,5,6]})
print(var)

print() 

var.insert(2, "New", [13,14,15])
var

   A  B
0  1  4
1  2  5
2  3  6

   A  B  New
0  1  4   13
1  2  5   14
2  3  6   15

### Delete Data

In [58]:
var = pd.DataFrame({"A":[1,2,3], "B":[4,5,6], "New":[13,14,15]})
print(var)

print()

var.pop("B")
var

   A  B  New
0  1  4   13
1  2  5   14
2  3  6   15

   A  New
0  1   13
1  2   14
2  3   15